<div class="col-sm-12 col-lg-4 mb-3">
  <div id="board-id-<%= board.id %>">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <%= link_to board.title, board_path(board) %>
        </h4>

        <div>
          <p>
            <a>好きな理由　</a>
            <%= board.why %></p>
          </p>
          <p>
            <a>URL　　　　</a>
            <%= board.url %></p>
        </div>

        <ul class="list-inline">
          <li class="list-inline-item">
            <%= icon 'far', 'calendar' %>
            <%= l board.created_at, format: :long %>
          </li>
            <li class="list-inline-item">
            <%= icon 'far', 'user' %>
            <%= board.name %>
          </li>
        </ul>
        
      </div>
    </div>
  </div>
</div>